aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
cachelib==0.9.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
coverage==6.4.1
crcmod==1.7
cryptography==37.0.4
Deprecated==1.2.13
firebase==3.0.1
Flask==2.1.3
flask-blueprint==1.3.0
flask-csp==0.10
Flask-JWT-Extended==4.4.2
Flask-Limiter==2.5.0
flask-mailman==0.3.0
Flask-Moment==1.0.5
Flask-Paranoid==0.3.0
Flask-Reggie==0.0.2
Flask-Session==0.4.0
flask-talisman==1.0.0
Flask-WTF==1.0.1
frozenlist==1.3.3
google-api-core==2.10.2
google-auth==2.14.1
google-auth-oauthlib==0.7.1
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-kms==2.12.3
google-cloud-secret-manager==2.12.6
google-cloud-storage==2.7.0
google-cloud-private-ca==1.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.51.1
grpcio-status==1.51.1
gunicorn==20.1.0
h11==0.14.0
HTMLParser==0.0.2
httplib2==0.21.0
idna==3.4
importlib-metadata==5.0.0
iniconfig==1.1.1
ipinfo==4.4.2
itsdangerous==2.1.2
Jinja2==3.1.2
limits==2.7.0
MarkupSafe==2.1.1
mkdocs-material-extensions==1.0.3
msgpack==1.0.4
multidict==6.0.3
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
packaging==21.3
pi==0.1.2
pluggy==1.0.0
proto-plus==1.22.1
protobuf==4.21.9
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.15.0
Pygments==2.13.0
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
PyYAML==6.0
ratelimit==2.2.1
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.6.0
rsa==4.9
shellescape==3.8.1
six==1.16.0
texttable==1.6.4
tomli==2.0.1
typing-extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.19.0
vt==3.1.3.7
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
yarl==1.8.2
zipp==3.10.0
