{% extends "other_base.html" %}

{% block bodyContent %}
<html data-theme="light" style="--vw:12.63px; --vh:1.5px;" lang="en" data-react-helmet="lang">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script defer="defer" src="/admin/styles.d70984b007c8fb12762a.js"></script>
    <script defer="defer" src="/admin/main.8fb1a28005d2f5676439.js"></script>
    <link href="/admin/styles.css" rel="stylesheet">
    <title> Email Otp - TTL</title>
    <!--href???-->
    <link rel="icon" type="image/svg+xml" href="/admin/ebcc1430049fddb274f8.svg" data-react-helmet="true">
    <meta name="description" content="otp" data-react-helmet="true">
    <meta name="keywords" content="otp" data-react-helmet="true">
    <meta property="og:title" content="Email Otp - TTL" data-react-helmet="true">
    <meta property="og:image" content="/admin/4d8845b830f4e8e2affb.png" data-react-helmet="true">
    <meta property="og:description" content="OTP" data-react-helmet="true">
    <meta property="og:type" content="website" data-react-helmet="true">
    <meta name="twitter:card" content="summary" data-react-helmet="true">
    <meta name="twitter:title" content="Login" data-react-helmet="true">
    <meta name="twitter:description" content="Login user" data-react-helmet="true">
</head>

    <script src="https://www.google.com/recaptcha/api.js?render=6LcmXogjAAAAAOTMJEaOmWBAxklTmmUQdtEK0mMr"></script>
    <!--<script>
   function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>-->

<body>
    <div class="gutter--left gutter--right collection-list__wrap">
        <header class="collection-list__header">
            <h1>OTP</h1>
        </header>
        <style>
            .alert {
              padding: 20px;
              background-color: #f44336;
              color: white;
              opacity: 1;
              transition: opacity 0.6s;
              margin-bottom: 15px;
            }
            
            .alert.success {background-color: #04AA6D;}
            
            .closebtn {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }
            
            .closebtn:hover {
              color: black;
            }
            </style>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger">
                <span class="closebtn">&times;</span>  
                {{ message }}
              </div>

            <script>
            var close = document.getElementsByClassName("closebtn");
            var i;
            
            for (i = 0; i < close.length; i++) {
                close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
                }
            }
            </script>
            {% else %}
            <div class="alert success">
                <span class="closebtn">&times;</span>  
                {{ message }}
              </div>
            <script>
                var close = document.getElementsByClassName("closebtn");
                var i;
                
                for (i = 0; i < close.length; i++) {
                  close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                  }
                }
                </script>
            
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div>
            <form novalidate="" method="post" action="#" class="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <p>An email verification was just sent to {{ email }}.</p>    
                <div class="field-type text"><label for="field-text" class="field-label">Enter code<span
                    class="required">*</span></label><input id="field-text" type="text" 
                    name="onetimepass" value="">
                    </div>
                
                <div class="form-submit">
                    <button class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right" type="submit"
                        data-callback='onSubmit' 
                        data-action='submit'>Submit</button>
                        <!--<button class="g-recaptcha btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right" type="submit"
                        data-sitekey="6LcmXogjAAAAAOTMJEaOmWBAxklTmmUQdtEK0mMr" 
                         -->
            </form>
            </div>
        </section>
        <div class="Toastify"></div>
    </div>
    <div id="portal"></div>
</body>

</html>
{% endblock %}