{% extends "base.html" %}

{% block bodyContent %}
    <main class="App_app__x2qc1" id="MainContent">
        <div class="App_page__ZYUk8">
            <section class="__404_page__lOAjs">
                <div class="__404_details__BeAQV">
                    <div class="__404_text__QkjlH">
                        <h1 class="Heading_heading__209rB __404_title__ySHYF" data-align="auto" data-weight="bold" data-level="0" data-visible="true">404</h1>
                        <h2 class="Heading_heading__209rB __404_subheading__9GcyQ" data-align="auto" data-weight="medium" data-level="3" aria-hidden="true" data-visible="true">
                            <span class="DecoderText_text__ZFBnw">
                                <span aria-hidden="true">
                                    <span class="DecoderText_value__DIA5G">E</span>
                                    <span class="DecoderText_value__DIA5G">r</span>
                                    <span class="DecoderText_value__DIA5G">r</span>
                                    <span class="DecoderText_value__DIA5G">o</span>
                                    <span class="DecoderText_value__DIA5G">r</span>
                                    <span class="DecoderText_value__DIA5G">:</span>
                                    <span class="DecoderText_value__DIA5G"> </span>
                                    <span class="DecoderText_value__DIA5G">R</span>
                                    <span class="DecoderText_value__DIA5G">e</span>
                                    <span class="DecoderText_value__DIA5G">d</span>
                                    <span class="DecoderText_value__DIA5G">a</span>
                                    <span class="DecoderText_value__DIA5G">c</span>
                                    <span class="DecoderText_value__DIA5G">t</span>
                                    <span class="DecoderText_value__DIA5G">e</span>
                                    <span class="DecoderText_value__DIA5G">d</span>
                                </span>
                            </span>
                        </h2>

                        <p class="Text_text__I2GnQ __404_description__wrY0N" data-align="auto" data-size="m" data-weight="auto" data-visible="true">We're sorry but it looks like that page doesn't exist anymore.</p>
                        <a class="Button_button__L2wUb __404_button__UBp2P" data-secondary="true" data-icon="chevronRight" href="/" data-visible="true">
                            <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" class="Icon_icon__t_YgI Button_icon__mSIRG" data-start="true" data-shift="true">
                                <path d="M13.586 12L7.793 6.207l1.414-1.414 6.5 6.5.707.707-.707.707-6.5 6.5-1.414-1.414L13.586 12z"></path>
                            </svg>
                            <span class="Button_text__t2U9w">Back to homepage</span>
                        </a>
                    </div>
                </div>

                <div class="__404_videoContainer__asE2J" data-visible="true">
                    <video autoplay="" muted="" loop="" playsinline="" class="__404_video__c2iBw" data-visible="true">
                        <source src="../static/videos/lcw.mp4" type="video/mp4">
                    </video>

                    <a class="__404_credit__RZBXp" data-visible="true" href="https://www.youtube.com/watch?v=DKNQRA3yOJs" target="_blank" rel="noopener noreferrer">Lee Chong Wei BEST MOMENTS</a>
                </div>
            </section>
        </div>
    </main>
{% endblock %}