{% extends "base.html" %}

{% block bodyContent %}
    <div class="collection-edit">
        <form method="post" onsubmit="save()">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="collection-edit__main">
                <div class="eyebrow">
                    <div class="gutter--left gutter--right eyebrow__wrap">
                        <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg
                                    class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><a href="/admin/users"><span>Users</span><svg
                                    class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><span>Add Ban Admin</span></nav>
                    </div>
                </div>
                <div class="gutter--left gutter--right collection-edit__edit">
                    <header class="collection-edit__header">
                        <h1><span class="render-title">Add Ban Admin</span></h1>
                    </header>
                    <div class="auth-fields">
                        <div class="field-type email"><label
                                class="field-label">IP Address<span class="required">*</span></label>
                             <input type="text" minlength="7" maxlength="15" placeholder="xxx.xxx.xxx.xxx" name="ipaddress"
                                   pattern="\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b" required>
                        </div>
                    </div>

            </div>
            <div class="collection-edit__sidebar-wrap">
                <div class="collection-edit__sidebar">
                    <div class="collection-edit__sidebar-sticky-wrap">
                        <div class="collection-edit__document-actions">
                            <div class="form-submit"><button type="submit" id="action-save"
                                    class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right"><span
                                        class="btn__content"><span
                                            class="btn__label">Save</span></span></button></div>
                        </div>
                        <div class="collection-edit__sidebar-fields">
                            <div class="render-fields"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}
