{% extends "base.html" %}

{% block bodyContent %}
    <div class="collection-list">
        <div class="eyebrow">
            <div class="gutter--left gutter--right eyebrow__wrap">
                <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg class="icon icon--chevron"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                        </svg></a><span>Block IP Addresses</span></nav>
            </div>
        </div>
        <div class="gutter--left gutter--right collection-list__wrap">
            <header class="collection-list__header">
                <h1>Block IP Addresses</h1><a class="pill pill--style-light pill--has-link pill--has-action"
                    href="/admin/users/addBlockIPAddresses">Add New</a>
            </header>
            <div class="list-controls">
                <div class="list-controls__wrap">
                    <div class="search-filter"><input class="search-filter__input"
                            placeholder="Search by Email" type="text" value=""><svg viewBox="0 0 25 25"
                            fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--search">
                            <circle cx="11.2069" cy="10.7069" r="5" class="stroke"></circle>
                            <line x1="14.914" y1="13.9998" x2="20.5002" y2="19.586" class="stroke"></line>
                        </svg></div>
                    <div class="list-controls__buttons">
                        <div class="list-controls__buttons-wrap"><button type="button"
                                class="btn list-controls__toggle-columns btn--style-secondary btn--icon btn--icon-style-none btn--size-medium btn--icon-position-right"><span
                                    class="btn__content"><span class="btn__label">Columns</span><span
                                        class="btn__icon"><svg class="icon icon--chevron"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                        </svg></span></span></button><button type="button"
                                class="btn list-controls__toggle-where btn--style-secondary btn--icon btn--icon-style-none btn--size-medium btn--icon-position-right"><span
                                    class="btn__content"><span class="btn__label">Filters</span><span
                                        class="btn__icon"><svg class="icon icon--chevron"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                        </svg></span></span></button></div>
                    </div>
                </div>
                <div class="rah-static rah-static--height-zero list-controls__columns" aria-hidden="true"
                    style="height: 0px; overflow: hidden;">
                    <div style="display: none;">
                        <div class="column-selector"><button
                                class="pill pill--style-light column-selector__column column-selector__column--active pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg width="25" height="25" class="icon icon--x"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584">
                                    </line>
                                    <line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471">
                                    </line>
                                </svg>ID</button><button
                                class="pill pill--style-light column-selector__column column-selector__column--active pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg width="25" height="25" class="icon icon--x"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584">
                                    </line>
                                    <line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471">
                                    </line>
                                </svg>Name</button><button
                                class="pill pill--style-light column-selector__column column-selector__column--active pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg width="25" height="25" class="icon icon--x"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584">
                                    </line>
                                    <line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471">
                                    </line>
                                </svg>Enable API Key</button><button
                                class="pill pill--style-light column-selector__column pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg class="icon icon--plus"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115"
                                        class="stroke"></line>
                                    <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke">
                                    </line>
                                </svg>API Key</button><button
                                class="pill pill--style-light column-selector__column column-selector__column--active pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg width="25" height="25" class="icon icon--x"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584">
                                    </line>
                                    <line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471">
                                    </line>
                                </svg>Email</button><button
                                class="pill pill--style-light column-selector__column pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg class="icon icon--plus"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115"
                                        class="stroke"></line>
                                    <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke">
                                    </line>
                                </svg>Created At</button><button
                                class="pill pill--style-light column-selector__column pill--has-action pill--has-icon pill--align-icon-left"
                                type="button"><svg class="icon icon--plus"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115"
                                        class="stroke"></line>
                                    <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke">
                                    </line>
                                </svg>Updated At</button></div>
                    </div>
                </div>
                <div class="rah-static rah-static--height-zero list-controls__where" aria-hidden="true"
                    style="height: 0px; overflow: hidden;">
                    <div style="display: none;">
                        <div class="where-builder">
                            <div class="where-builder__no-filters">
                                <div class="where-builder__label">No filters set</div><button type="button"
                                    class="btn where-builder__add-first-filter btn--style-icon-label btn--icon btn--icon-style-with-border btn--size-medium btn--icon-position-left"><span
                                        class="btn__content"><span class="btn__label">Add filter</span><span
                                            class="btn__icon"><svg class="icon icon--plus"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                                <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115"
                                                    class="stroke"></line>
                                                <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594"
                                                    class="stroke"></line>
                                            </svg></span></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th id="heading-email">
                                <div class="sort-column"><span class="sort-column__label">Email</span><span
                                        class="sort-column__buttons"><button type="button"
                                            class="btn sort-column__asc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button><button type="button"
                                            class="btn sort-column__desc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button></span></div>
                            </th>
                            <th id="heading-id">
                                <div class="sort-column"><span class="sort-column__label">ID</span><span
                                        class="sort-column__buttons"><button type="button"
                                            class="btn sort-column__asc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button><button type="button"
                                            class="btn sort-column__desc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button></span></div>
                            </th>
                            <th id="heading-name">
                                <div class="sort-column"><span class="sort-column__label">Name</span><span
                                        class="sort-column__buttons"><button type="button"
                                            class="btn sort-column__asc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button><button type="button"
                                            class="btn sort-column__desc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button></span></div>
                            </th>
                            <th id="heading-enableAPIKey">
                                <div class="sort-column"><span class="sort-column__label">Enable API
                                        Key</span><span class="sort-column__buttons"><button type="button"
                                            class="btn sort-column__asc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button><button type="button"
                                            class="btn sort-column__desc btn--style-none btn--icon-style-without-border btn--round btn--size-medium btn--icon-position-right"><span
                                                class="btn__content"><span class="btn__label"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg></span></span></button></span></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-1">
                            <td class="cell-email"><a href="/admin/users/{{ user_id }}">{{ email }}</a></td>
                            <td class="cell-id"><span>{{ user_id }}</span></td>
                            <td class="cell-name"><span>Demo User</span></td>
                            <td class="cell-enableAPIKey"><span></span></td>
                            <td><a type="button" class="btn btn--style-secondary btn--size-small" href="users/edit_access">
                            <span class="btn__content"><span class="btn__label">Edit Access</span></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="collection-list__page-controls">
                <div class="collection-list__page-info">1-1 of 1</div>
                <div class="per-page">
                    <div
                        class="popup popup--size-small popup--color-light popup--v-align-top popup--h-align-right">
                        <div class="popup__wrapper"><button type="button"
                                class="popup-button popup-button--default"><strong>Per Page: 10<svg
                                        class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 25 25">
                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                    </svg></strong></button></div>
                        <div class="popup__content">
                            <div class="popup__wrap">
                                <div class="popup__scroll">
                                    <div>
                                        <ul>
                                            <li class="per-page-item"><button type="button"
                                                    class="per-page__button">5</button></li>
                                            <li class="per-page-item"><button type="button"
                                                    class="per-page__button per-page__button-active"><svg
                                                        class="icon icon--chevron"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 25 25">
                                                        <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5">
                                                        </path>
                                                    </svg>10</button></li>
                                            <li class="per-page-item"><button type="button"
                                                    class="per-page__button">25</button></li>
                                            <li class="per-page-item"><button type="button"
                                                    class="per-page__button">50</button></li>
                                            <li class="per-page-item"><button type="button"
                                                    class="per-page__button">100</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
