{% extends "base.html" %}

{% block bodyContent %}
<div class="dashboard">
    <div class="eyebrow">
        <div class="gutter--left gutter--right eyebrow__wrap">
            <nav class="step-nav"><span>{{ user }}'s Dashboard</span></nav>
        </div>
    </div>

    <div class="gutter--left gutter--right dashboard__wrap">
        <h2 class="dashboard__label">Content</h2>
        <ul class="dashboard__card-list">
            <li>
                <div class="card card-posts card--has-onclick" id="card-posts">
                    <h5>Media</h5>
                    <div class="card__actions">
                        <a type="button"
                            class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right"
                            href="/admin/media/upload/{{ media_id }}">
                            <span class="btn__content">
                                <span class="btn__icon">
                                    <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                        <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                        <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <a href="/admin/media">
                        <button type="button"
                            class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </a>
                </div>
            </li>

            <li>
                <div class="card card-posts card--has-onclick" id="card-posts">
                    <h5>Posts</h5>
                    <div class="card__actions">
                        <a type="button"
                            class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right"
                            href="/admin/posts/upload/{{ post_id }}">
                            <span class="btn__content">
                                <span class="btn__icon">
                                    <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                        <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                        <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <a href="/admin/posts">
                        <button type="button"
                            class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </a>
                </div>
            </li>
        </ul>

        <h2 class="dashboard__label">Admin</h2>
        <ul class="dashboard__card-list">
            <li>
                <div class="card card-users card--has-onclick" id="card-users">
                    <h5>Users</h5>
                    <div class="card__actions">
                        <a type="button"
                            class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right"
                            href="/admin/users/create/{{ admin_user_id }}">
                            <span class="btn__content">
                                <span class="btn__icon">
                                    <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                        <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                        <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <a href="/admin/users">
                        <button type="button"
                            class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </a>
                </div>
            </li>
        </ul>

        <div class="after-dashboard">
            <h4>Join our Discord</h4>
            <p>Every day, developers are actively talking about TomTomLoad and helping each other build awesome things in
                our Discord community. It can be a great resource to learn about what's happening with TomTomLoad before
                anyone else. <a href="https://discord.com/invite/" target="_blank">Click here to join!</a></p>
            <h4>Talk with us</h4>
            <p>We're here to help! You can 
                <a href="mailto:sz3yan@gmail.com" target="_blank">email us</a> with any questions.
                Done By: 
                    <span><a href="https://github.com/Sz3yan" target="_blank">Sze Yan</a></span>,
                    <span><a href="https://github.com/YeePingCyber" target="_blank">Yee Ping</a></span>, 
                    <span><a href="https://github.com/stefanie" target="_blank">Stefanie</a></span>,
                    <span><a href="https://github.com/smizrx" target="_blank">Mizuki</a></span>,
                    <span><a href="https://github.com/Jolintyr" target="_blank">Jolin</a></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}