{% extends "base.html" %}

{% block bodyContent %}
    <div class="dashboard">
        <div class="eyebrow">
            <div class="gutter--left gutter--right eyebrow__wrap">
                <nav class="step-nav"><span>{{ user }}'s Dashboard</span></nav>
                <a href="/admin/logout">logout</a>
            </div>
        </div>

        <div class="gutter--left gutter--right dashboard__wrap">
            <h2 class="dashboard__label">Content</h2>
            <ul class="dashboard__card-list">
                <li>
                    <div class="card card-posts card--has-onclick" id="card-posts">
                        <h5>Media</h5>
                        <div class="card__actions">
                            <a type="button" class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right" href="/admin/media/upload/{{ media_id }}">
                                <span class="btn__content">
                                    <span class="btn__icon">
                                        <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                            <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                        
                        <button type="button" class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </div>
                </li>

                <li>
                    <div class="card card-posts card--has-onclick" id="card-posts">
                        <h5>Posts</h5>
                        <div class="card__actions">
                            <a type="button" class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right" href="/admin/posts/llll">
                                <span class="btn__content">
                                    <span class="btn__icon">
                                        <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                            <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                        
                        <button type="button" class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <h2 class="dashboard__label">Admin</h2>
            <ul class="dashboard__card-list">
                <li>
                    <div class="card card-users card--has-onclick" id="card-users">
                        <h5>Users</h5>
                        <div class="card__actions">
                            <a type="button" class="btn btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right" href="/admin/users/create">
                                <span class="btn__content">
                                    <span class="btn__icon">
                                        <svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                            <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                        
                        <button type="button" class="btn card__click btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <div class="after-dashboard">
                <readme-toc>
                    <div id="readme" class="Box md js-code-block-container js-code-nav-container js-tagsearch-file Box--responsive">
                        <div class="Box-body px-5 pb-5">
                            <article class="markdown-body entry-content container-lg" itemprop="text">
                                <h4 dir="auto">Background</h4>
                                <p dir="auto">Building a high-quality web application using web application
                                    frameworks is not easy, even more so when we are building out from
                                    scratch.</p>
                                <p dir="auto">There is simply too much stuff to consider</p>
                                <ul dir="auto">
                                    <li>authentication of users</li>
                                    <li>storing of the content</li>
                                    <li>restricting what users can access, and developing a new admin page.
                                    </li>
                                </ul>
                                <p dir="auto">All these require extensive coding time, and it can be quite
                                    stressful within a short timeframe.
                                    <br>
                                </p>
                                <p dir="auto"><img
                                    src="../../static/images/tomtomload.png"
                                    alt="Tom Tom Load" style="max-width: 100%;"></p>
                                <br>
                                <h4 dir="auto">What is Tom Tom Load?</h4>
                                <p dir="auto">Tom Tom Load (TTL) is a headless content management system.
                                    It’s meant to assist your development process, allowing content creators
                                    to focus on their crafts.</p>
                                <p dir="auto">Out of the box, TTL gives you many things that you often need
                                    when developing a new website or web app, for example:</p>
                                <ol>
                                    <li>Google Cloud Storage database to store your data</li>
                                    <li>A way to store, retrieve, and manipulate data via REST APIs</li>
                                    <li>Authentication — registration, email verification, login,password reset</li>
                                    <li>Access control to your data</li>
                                    <li>Beautiful admin UI</li>
                                </ol>
                                <br>
                                <p dir="auto"><img
                                    src="../../static/images/TTL Auth.png"
                                    alt="Tom Tom Load" style="max-width: 100%;"></p>
                                <p dir="auto"><img
                                    src="../../static/images/Inside TTL.png"
                                    alt="Tom Tom Load" style="max-width: 100%;"></p>
                                <p dir="auto">to view better: <a
                                        href="https://excalidraw.com/#json=kHNIBGzY1ThEAcyfjM9XN,s37UlgOKkBxLgnKVrFyBKg"
                                        rel="nofollow">https://excalidraw.com/#json=kHNIBGzY1ThEAcyfjM9XN,s37UlgOKkBxLgnKVrFyBKg</a>
                                </p>
                                <br>
                                By: Sze Yan, Yee Ping, Stefanie, Mizuki, Jolin
                            </article>
                        </div>
                    </div>
                </readme-toc>
            </div>
        </div>
    </div>
{% endblock %}
