{% extends "base.html" %}

{% block bodyContent %}
    <div class="collection-edit collection-edit--is-editing">
        <form class="collection-edit__form form">
            <div class="collection-edit__main">
                <div class="eyebrow">
                    <div class="gutter--left gutter--right eyebrow__wrap">
                        <nav class="step-nav">
                            <a href="/admin">
                                <span>Dashboard</span>
                                <svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg>
                            </a>
                            
                            <a href="/admin/media">
                                <span>Media</span>
                                <svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg>
                            </a>
                            <span>{{ metadata["metadata"]["name"] }}</span>
                        </nav>
                    </div>
                </div>

                <div class="gutter--left gutter--right collection-edit__edit">
                    <header class="collection-edit__header"><h1><span class="render-title">{{ metadata["metadata"]["name"] }}</span></h1></header>

                    <div class="file-field field-type">
                        <div class="file-details">
                            <header>
                                <div class="thumbnail thumbnail--size-medium">
                                    <img src="../../static/config_files/media/{{ media_id }}.png" alt="">
                                </div>
                                
                                <div class="file-details__main-detail">
                                    <div class="file-meta">
                                        <div class="file-meta__url">
                                            <p style="font-weight: bold;">{{ metadata["metadata"]["name"] }}</p>
                                        </div>

                                        <div class="file-meta__size-type">{{ metadata["size"] }} bytes -&nbsp;image/png</div>
                                    </div>
                                </div>

                                <a href="/admin/media/delete/{{ media_id }}">
                                    <button type="button" class="btn file-details__remove btn--style-icon-label btn--icon btn--icon-style-with-border btn--icon-only btn--round btn--size-medium btn--icon-position-right"><aside class="tooltip btn__tooltip"></aside><span class="btn__content"><span class="btn__icon"><svg width="25" height="25" class="icon icon--x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584"></line><line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471"></line></svg></span></span></button>
                                </a>
                            </header>
                        </div>
                    </div>

                    <div class="render-fields">
                        <div class="field-type text read-only">
                            <label for="field-alt" class="field-label">MD5<span class="required"></span></label>
                            <input id="field-alt" disabled="" type="text" name="alt" value="{{ metadata["md5_hash"] }}"><br/>

                            <label for="field-alt" class="field-label">SHA256<span class="required"></span></label>
                            <input id="field-alt" disabled="" type="text" name="alt" value="{{ metadata["metadata"]["hash"] }}"><br/>

                            <label for="field-alt" class="field-label">CRC32C<span class="required"></span></label>
                            <input id="field-alt" disabled="" type="text" name="alt" value="{{ metadata["crc32c"] }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="collection-edit__sidebar-wrap">
                <div class="collection-edit__sidebar">
                    <div class="collection-edit__sidebar-sticky-wrap">
                        <ul class="collection-edit__collection-actions">
                            <li><a id="action-create" href="/admin/media/upload/{{ new_id }}">Create New</a></li>
                        </ul>

                        <ul class="collection-edit__meta">
                            <li class="collection-edit__api-url">
                                <span class="collection-edit__label">API URL</span>
                                
                                <a href="{{ api }}" target="_blank">{{ api }}</a>
                            </li>

                            <li>
                                <div class="collection-edit__label">Last Modified</div>
                                <div>{{ moment(metadata["updated"]).format('MMMM Do YYYY, h:mm:ss a') }}</div>
                            </li>
                            
                            <li>
                                <div class="collection-edit__label">Created</div>
                                <div>{{ moment(metadata["time_created"]).format('MMMM Do YYYY, h:mm:ss a') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
