{% extends "base.html" %}

{% block js %}
    <!-- EditorJs -->
    <script src="https://cdn.jsdelivr.net/npm/codex.editor.header@2.0.4/dist/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script><!-- Editor -->
{% endblock %}

{% block bodyContent %}
    <div class="collection-edit collection-edit--is-editing">
        <form novalidate="" method="patch" action="https://demo.ttlcms.com/api/posts/6367071208fff3c0c30292fa?locale=en&amp;depth=0&amp;fallback-locale=null" class="collection-edit__form form">
            <div class="collection-edit__main">
                <div class="eyebrow">
                    <div class="gutter--left gutter--right eyebrow__wrap">
                        <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><a href="/admin/posts"><span>Posts</span><svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><span>New Feature - Auto-generate TypeScript Interfaces</span>
                        </nav>
                    </div>
                </div>
                <div class="gutter--left gutter--right collection-edit__edit">
                    <header class="collection-edit__header">
                        <h1><span class="render-title">New Feature - Auto-generate TypeScript
                                Interfaces</span></h1>
                    </header>
                    <div class="render-fields">
                        <div class="field-type text"><label for="field-title" class="field-label">Title</label><input id="field-title" type="text" name="title" value="New Feature - Auto-generate TypeScript Interfaces">
                        </div>
                        <div id="field-author" class="field-type relationship"><label for="author" class="field-label">Author</label>
                            <div class="relationship__wrap">
                                <div class="react-select css-2b097c-container">
                                    <div class="rs__control css-yk16xz-control">
                                        <div class="rs__value-container rs__value-container--has-value css-1hwfws3">
                                            <div class="rs__single-value css-1uccc91-singleValue">
                                                demo@ttlcms.com</div>
                                            <div class="css-1g6gooi">
                                                <div class="rs__input" style="display: inline-block;"><input autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-8-input" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" value="" style="box-sizing: content-box; width: 2px; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit; background-position: 0px center;">
                                                    <div style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 13px; font-family: &quot;Suisse Intl&quot;, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="relationship-add-new" id="author-add-new"><button type="button" class="btn relationship-add-new__add-button btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right btn--has-tooltip"><span class="btn__content">
                                            <aside class="tooltip btn__tooltip">Add new User<span></span>
                                            </aside><span class="btn__label"><svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                                    <line x1="12.4589" y1="16.9175" x2="12.4589" y2="8.50115" class="stroke"></line>
                                                    <line x1="8.05164" y1="12.594" x2="16.468" y2="12.594" class="stroke"></line>
                                                </svg></span>
                                        </span></button></div>
                            </div>
                        </div>

                        <div class="field-type text"><label for="field-title" class="field-label">Content</label><input id="field-title" type="text" name="title" value="New Feature - Auto-generate TypeScript Interfaces">
                        </div>

                        <br/><br/>
                        <h3>Start Writing</h3>
                        <div id="editorjs"></div>
                        <script>
                            var editor = new EditorJS({
                                holder: 'editorjs',
                                readOnly : true,

                                tools: {
                                    header: {
                                        class: Header,
                                        inlineToolbar: ['marker', 'link'],
                                        config: {
                                            placeholder: 'Header'
                                        },
                                        shortcut: 'CMD+SHIFT+H'
                                    },

                                    image: SimpleImage,

                                    list: {
                                        class: List,
                                        inlineToolbar: true,
                                        shortcut: 'CMD+SHIFT+L'
                                    },

                                    checklist: {
                                        class: Checklist,
                                        inlineToolbar: true,
                                    },

                                    quote: {
                                        class: Quote,
                                        inlineToolbar: true,
                                        config: {
                                            quotePlaceholder: 'Enter a quote',
                                            captionPlaceholder: 'Quote\'s author',
                                        },
                                        shortcut: 'CMD+SHIFT+O'
                                    },

                                    warning: Warning,

                                    marker: {
                                        class: Marker,
                                        shortcut: 'CMD+SHIFT+M'
                                    },

                                    delimiter: Delimiter,

                                    inlineCode: {
                                        class: InlineCode,
                                        shortcut: 'CMD+SHIFT+C'
                                    },

                                    linkTool: LinkTool,

                                    embed: Embed,

                                    table: {
                                        class: Table,
                                        inlineToolbar: true,
                                        shortcut: 'CMD+ALT+T'
                                    },

                                },

                                data: {
                                    blocks: [
                                    {% for block in post_data["blocks"] %}
                                        {{ block | tojson | safe }},
                                    {% endfor %}
                                ]
                            },

                            onChange: function(api, event) {
                                console.log('something changed', event);
                            }
                        });

                            function savelah() {
                                const hihi = document.getElementById('hihi');

                                editor.save().then((outputData) => {
                                    hihi.value = JSON.stringify(outputData);
                                }).catch((error) => {
                                    console.log('Saving failed: ', error)
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="collection-edit__sidebar-wrap">
                <div class="collection-edit__sidebar">
                    <div class="collection-edit__sidebar-sticky-wrap">
                        <ul class="collection-edit__collection-actions">
                            <li><a id="action-create" href="/admin/posts/upload/{{ create_new_post_id }}">Create New</a>
                            </li>
                            <li><button type="button" id="action-delete" class="delete-document__toggle">Delete</button></li>
                        </ul>
                        <div class="collection-edit__document-actions collection-edit__document-actions--has-2">
                            <div class="form-submit"><button type="button" class="btn save-draft btn--style-secondary btn--icon-style-without-border btn--disabled btn--size-medium btn--icon-position-right" disabled=""><span class="btn__content"><span class="btn__label">Save
                                            draft</span></span></button></div>
                            <div class="form-submit"><button type="button" class="btn btn--style-primary btn--icon-style-without-border btn--disabled btn--size-medium btn--icon-position-right" disabled=""><span class="btn__content"><span class="btn__label">Publish
                                            changes</span></span></button></div>
                        </div>
                        <div class="collection-edit__sidebar-fields">
                            <div class="status">
                                <div class="status__value-wrap"><span class="status__value">Published</span>&nbsp;—&nbsp;<button type="button" class="btn status__action btn--style-none btn--icon-style-without-border btn--size-medium btn--icon-position-right"><span class="btn__content"><span class="btn__label">Unpublish</span></span></button></div>
                            </div>
                            <div class="render-fields">
                                <div class="field-type date-time-field">
                                    <div class="date-time-field__error-wrap"></div><label for="publishDate" class="field-label">Publish Date</label>
                                    <div id="field-publishDate" class="date-time-field__input-wrapper">
                                        <div class="date-time-picker date-time-picker__appearance--dayAndTime">
                                            <div class="date-time-picker__icon-wrap"><button type="button" class="date-time-picker__clear-button"><svg width="25" height="25" class="icon icon--x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                                        <line class="stroke" x1="8.74612" y1="16.347" x2="16.3973" y2="8.69584"></line>
                                                        <line class="stroke" x1="8.6027" y1="8.69585" x2="16.2539" y2="16.3471"></line>
                                                    </svg></button><svg class="icon icon--calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                                    <rect x="4.5" y="6.11401" width="16" height="14" class="stroke"></rect>
                                                    <line x1="8.625" y1="8.02026" x2="8.625" y2="3.70776" class="stroke"></line>
                                                    <line x1="16.375" y1="8.02026" x2="16.375" y2="3.70776" class="stroke"></line>
                                                    <line x1="4.5" y1="11.114" x2="20.5" y2="11.114" class="stroke"></line>
                                                </svg></div>
                                            <div class="date-time-picker__input-wrapper">
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container"><input type="text" class="" value="Feb 1, 2022 1:00 PM"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-description">Posts will not be public until this date
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="collection-edit__meta">
                            <li class="collection-edit__api-url"><span class="collection-edit__label">API
                                    URL <button type="button" class="copy-to-clipboard"><svg class="icon icon--copy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                            <rect x="6.5" y="10" width="8" height="8" class="stroke"></rect>
                                            <path d="M10 9.98438V6.5H18V14.5H14" class="stroke"></path>
                                        </svg>
                                        <aside class="tooltip">copy<span></span></aside><textarea readonly="">https://tomtomload.com/api/posts/{{ post_id }}</textarea>
                                    </button></span><a href="https://tomtomload.com/api/posts/{{ post_id }}" target="_blank" rel="noopener noreferrer">https://tomtomload.com/api/posts/{{ post_id }}</a>
                            </li>
                            <li>
                                <div class="collection-edit__label">Last Modified</div>
                                <div>{{ moment(metadata["updated"]).format('MMMM Do YYYY, h:mm:ss a') }}</div>
                            </li>
                            <li>
                                <div class="collection-edit__label">Created</div>
                                <div>{{ moment(metadata["time_created"]).format('MMMM Do YYYY, h:mm:ss a') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
