{% extends "base.html" %}

{% block js %}
    <!-- EditorJs -->
    <script src="https://cdn.jsdelivr.net/npm/codex.editor.header@2.0.4/dist/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script><!-- Editor -->
{% endblock %}


{% block bodyContent %}
<div class="collection-edit">
    <form id="form" onsubmit="savelah()" method="post" class="collection-edit__form form">
        <div class="collection-edit__main">
            <div class="eyebrow">
                <div class="gutter--left gutter--right eyebrow__wrap">
                    <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg class="icon icon--chevron"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                            </svg></a><a href="/admin/posts"><span>Posts</span><svg
                                class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                            </svg></a><span>Create New</span></nav>
                </div>
            </div>
            <div class="gutter--left gutter--right collection-edit__edit">
                
                <div class="render-fields">
                    <div id="field-layout" class="field-type blocks-field">
                        <div class="blocks-field__error-wrap"></div><br/>
                        <div data-rbd-droppable-id="blocks-drop" data-rbd-droppable-context-id="0">
                                <div id="editorjs"></div>
                                <script>
                                    var editor = new EditorJS({
                                        holder: 'editorjs',
                                        autofocus: true,

                                        tools: {
                                            header: {
                                                class: Header,
                                                inlineToolbar: ['marker', 'link'],
                                                config: {
                                                    placeholder: 'Header'
                                                },
                                                shortcut: 'CMD+SHIFT+H'
                                            },

                                            image: SimpleImage,

                                            list: {
                                                class: List,
                                                inlineToolbar: true,
                                                shortcut: 'CMD+SHIFT+L'
                                            },

                                            checklist: {
                                                class: Checklist,
                                                inlineToolbar: true,
                                            },

                                            quote: {
                                                class: Quote,
                                                inlineToolbar: true,
                                                config: {
                                                    quotePlaceholder: 'Enter a quote',
                                                    captionPlaceholder: 'Quote\'s author',
                                                },
                                                shortcut: 'CMD+SHIFT+O'
                                            },

                                            warning: Warning,

                                            marker: {
                                                class: Marker,
                                                shortcut: 'CMD+SHIFT+M'
                                            },

                                            delimiter: Delimiter,

                                            inlineCode: {
                                                class: InlineCode,
                                                shortcut: 'CMD+SHIFT+C'
                                            },

                                            linkTool: LinkTool,

                                            embed: Embed,

                                            table: {
                                                class: Table,
                                                inlineToolbar: true,
                                                shortcut: 'CMD+ALT+T'
                                            },

                                        },

                                        data: {
                                            blocks: [
                                                {% for block in data %}
                                                {{ block | tojson | safe }},
                                    {% endfor %}
                                        ]
                                    },

                                    onChange: function(api, event) {
                                        console.log('something changed', event);
                                    }
                                });

                                    function savelah() {
                                        const hihi = document.getElementById('hihi');

                                        editor.save().then((outputData) => {
                                            hihi.value = JSON.stringify(outputData);
                                        }).catch((error) => {
                                            console.log('Saving failed: ', error)
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collection-edit__sidebar-wrap">
            <div class="collection-edit__sidebar">
                <div class="collection-edit__sidebar-sticky-wrap">
                    <ul class="collection-edit__collection-actions">
                        <li></li>
                    </ul>
                    <div class="collection-edit__document-actions collection-edit__document-actions--has-2">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" id="hihi" name="post_content" value="" />

                        <div class="form-submit">
                            <button type="submit" class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                                <span class="btn__content"><span class="btn__label">Publish changes</span></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}