{% extends "base.html" %}

{% block bodyContent %}
    <div class="collection-list">
        <div class="eyebrow">
            <div class="gutter--left gutter--right eyebrow__wrap">
                <nav class="step-nav">
                    <a href="/admin">
                        <span>Dashboard</span>
                        <svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                        </svg>
                    </a>
                    <span>Posts</span>
                </nav>
            </div>
        </div>

        <div class="gutter--left gutter--right collection-list__wrap">
            <header class="collection-list__header">
                <h1>Posts</h1>
            </header>

            <div class="list-controls">
                <div class="list-controls__wrap">
                    <div class="search-filter">
                        <input class="search-filter__input" id="myInput" onkeyup="myFunction()" placeholder="Search by Title" type="text" value=""><svg
                            viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--search">
                            <circle cx="11.2069" cy="10.7069" r="5" class="stroke"></circle>
                            <line x1="14.914" y1="13.9998" x2="20.5002" y2="19.586" class="stroke"></line>
                        </svg>
                    </div>

                    <script>
                        function myFunction() {
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("myInput");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("myTable");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[0];
                                if (td) {
                                    txtValue = td.textContent || td.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    </script>

                    <div class="list-controls__buttons">
                        <div class="list-controls__buttons-wrap">
                            <button type="button"
                                class="btn list-controls__toggle-where btn--style-secondary btn--icon btn--icon-style-none btn--size-medium btn--icon-position-right">
                                <span class="btn__content"><span class="btn__label"><a
                                            href="/admin/posts/upload/{{ post_id }}">Create New</a></span>
                                    <span class="btn__icon">
                                        <svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 25 25">
                                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>

                            <button type="button"
                                class="btn list-controls__toggle-sort btn--style-secondary btn--icon btn--icon-style-none btn--size-medium btn--icon-position-right">
                                <span class="btn__content">
                                    <span class="btn__label"><a href="/admin/posts/export">Export</a></span>
                                    <span class="btn__icon">
                                        <svg class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 25 25">
                                            <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table" id="myTable">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th id="heading-title">ID</th>
                        </tr>
                    </thead>

                    <tbody class="table-data">
                        {% for content in post %}
                            <tr class="row-1">
                                <td class="cell-title">
                                    <a href="/admin/posts/{{ id_list[loop.index - 1] }}">{{ id_list[loop.index - 1] }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}