{% extends "base.html" %}

{% block bodyContent %}
    <div class="account">
        <form method="post" class="account__form form">
            <div class="account__main">
                <div class="eyebrow">
                    <div class="gutter--left gutter--right eyebrow__wrap">
                        <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg
                                    class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><span>Account</span></nav>
                    </div>
                </div>

                <div class="account__edit">
                    <div class="gutter--left gutter--right account__header">
                        <h1><span class="render-title">{{ email }}</span></h1>

                        <div class="auth-fields">
                            <div class="field-type email">
                                <label for="field-email" class="field-label">Email<span class="required">*</span></label>
                                <input id="field-email" type="email" name="email" autocomplete="email" value="{{ email }}"></div>
                                
                                <button type="button" class="btn btn--style-secondary btn--icon-style-without-border btn--size-small btn--icon-position-right">
                                    <span class="btn__content"><span class="btn__label">Change Password</span></span>
                                </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="account__sidebar-wrap">
                <div class="account__sidebar">
                    <div class="account__sidebar-sticky-wrap">
                        <ul class="account__collection-actions">
                            <li><a href="/admin/users/create/{{ new_user }}">Create New</a></li>
                        </ul>

                        <div class="account__document-actions">
                            <div class="form-submit">
                                <button type="submit" class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                                    <span class="btn__content"><span class="btn__label">Save</span></span>
                                </button>
                            </div>
                        </div>

                        <ul class="account__meta">
                            <li class="account__api-url">
                                <span class="account__label">API URL</span>
                                <a href="https://demo.ttlcms.com/api/users/63909c60eb18a6399e33f560" target="_blank">https://demo.ttlcms.com/api/users/63909c60eb18a6399e33f560</a>
                            </li>
                            <li>
                                <div class="account__label">ID</div>
                                <div>{{ id }}</div>
                            </li>
                            <li>
                                <div class="account__label">Last Modified</div>
                                <div>December 7th 2022, 10:16 PM</div>
                            </li>
                            <li>
                                <div class="account__label">Created</div>
                                <div>December 7th 2022, 10:00 PM</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
