{% extends "base.html" %}

{% block bodyContent %}
    <div class="collection-edit">
        <form method="post"
            class="collection-edit__form form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="collection-edit__main">
                <div class="eyebrow">
                    <div class="gutter--left gutter--right eyebrow__wrap">
                        <nav class="step-nav"><a href="/admin"><span>Dashboard</span><svg
                                    class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><a href="/admin/users"><span>Users</span><svg
                                    class="icon icon--chevron" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 25 25">
                                    <path class="stroke" d="M9 10.5L12.5 14.5L16 10.5"></path>
                                </svg></a><span>Edit Access</span></nav>
                    </div>
                </div>
                <div class="gutter--left gutter--right collection-edit__edit">
                    <header class="collection-edit__header">
                        <h2><span class="render-title">{{ email }}</span></h2>
                    </header>

                    {% if "banned" in access_list %}
                        <div class="auth-fields" id="accessCheckbox">
                            <h3>Access:</h3>
                            <div class="auth-fields__api-key">
                                <input type="checkbox" name="readAccess" value = 'read' disabled><span style="font-size: 1.2em">Read Access</span>
                            </div>
                            <div class="auth-fields__api-key">
                                <input type="checkbox" name="writeAccess" value = ' ' disabled><span style="font-size: 1.2em">Write Access</span>
                            </div>
                            <div class="auth-fields__api-key">
                                <input type="checkbox" name="deleteAccess" value = '' disabled><span style="font-size: 1.2em">Delete Access</span>
                            </div>

                    {% else %}

                        <div class="auth-fields" id="accessCheckbox">
                            <h3>Access:</h3>
                            <div class="auth-fields__api-key">
                                {% if 'read' in access_list %}
                                <input type="checkbox" name="readAccess" value = 'read' checked disabled><span style="font-size: 1.2em">Read Access</span>
                                {% else %}
                                <input type="checkbox" name="readAccess" value = 'read'><span style="font-size: 1.2em">Read Access</span>
                                {% endif %}
                            </div>
                            <div class="auth-fields__api-key">
                                {% if 'write' in access_list %}
                                <input type="checkbox" name="writeAccess" value = 'write' checked=true><span style="font-size: 1.2em">Write Access</span>
                                {% else %}
                                <input type="checkbox" name="writeAccess" value = ' '><span style="font-size: 1.2em">Write Access</span>
                                {% endif %}
                            </div>
                            <div class="auth-fields__api-key">
                                {% if 'delete' in access_list %}
                                <input type="checkbox" name="deleteAccess" value = 'delete' checked=true><span style="font-size: 1.2em">Delete Access</span>
                                {% else %}
                                <input type="checkbox" name="deleteAccess" value = ' '><span style="font-size: 1.2em">Delete Access</span>
                                {% endif %}
                            </div>
                    {% endif %}

                            <br>
                        <h4>Role: Admins</h4>
<!--                        <h4>the list: {{access_list}}</h4>-->
                    </div>
                </div>
            </div>
            <div class="collection-edit__sidebar-wrap">
                <div class="collection-edit__sidebar">
                    <div class="collection-edit__sidebar-sticky-wrap">
                        <div class="collection-edit__document-actions">
                            <br>
                            {% if role == 'SuperAdmins' %}
                                {% if "unbanned" in access_list %}
    <!--                                <a type="button" class="btn btn&#45;&#45;style-primary btn&#45;&#45;icon-style-without-border btn&#45;&#45;size-medium btn&#45;&#45;icon-position-right" href="" name="ban">-->
    <!--                                    <span class="btn__content" ><span class="btn__label">{{ ban }} banned?</span></span></a>-->
                                    <input type="checkbox" name="ban" id="ban" value = 'banned'><span style="font-size: 1.2em">Ban Admin</span>
                                {% else %}
    <!--                                <a type="button" class="btn btn&#45;&#45;style-secondary btn&#45;&#45;size-small" href="" name="ban">-->
    <!--                                    <span class="btn__content"><span class="btn__label" >{{ ban }}  unbanned?</span></span></a>-->
                                    <input type="checkbox" name="ban" value = 'unbanned' checked><span style="font-size: 1.2em">Banned</span>
                                {% endif %}
                            {% endif %}

                            <div class="form-submit"><button type="submit" id="action-save"
                                    class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right"><span
                                        class="btn__content"><span
                                            class="btn__label">Save</span></span></button></div>
                        </div>
                        <div class="collection-edit__sidebar-fields">
                            <div class="render-fields"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
