aiohttp==3.8.3
aiosignal==1.3.1
aniso8601==9.0.1
APScheduler==3.9.1.post1
async-timeout==4.0.2
attrs==22.1.0
cachelib==0.9.0
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
coverage==6.4.1
crcmod==1.7
cryptography==38.0.3
Deprecated==1.2.13
dominate==2.7.0
firebase==3.0.1
Flask==2.2.2
flask-blueprint==1.3.0
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
flask-csp==0.10
Flask-HTTPAuth==4.7.0
Flask-JWT-Extended==4.4.2
Flask-Limiter==3.1.0
flask-mailman==0.3.0
Flask-Moment==1.0.5
Flask-Paranoid==0.3.0
flask-profiler==1.8.1
Flask-Reggie==0.0.2
Flask-RESTful==0.3.9
Flask-Session==0.4.0
flask-talisman==1.0.0
Flask-WTF==1.0.1
frozenlist==1.3.3
ftfy==6.1.1
gcloud==0.18.3
google-api-core==2.11.0
google-auth==2.15.0
google-auth-oauthlib==0.8.0
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-kms==2.13.0
google-cloud-private-ca==1.5.0
google-cloud-secret-manager==2.13.0
google-cloud-storage==2.7.0
google-cloud-storage-transfer==1.7.1
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.57.0
grpc-google-iam-v1==0.12.4
grpcio==1.51.1
grpcio-status==1.51.1
gunicorn==20.1.0
h11==0.14.0
HTMLParser==0.0.2
httplib2==0.21.0
idna==3.4
importlib-metadata==6.0.0
iniconfig==1.1.1
install==1.3.5
ipinfo==4.4.2
itsdangerous==2.1.2
Jinja2==3.1.2
jwcrypto==1.4.2
limits==2.8.0
MarkupSafe==2.1.1
mkdocs-material-extensions==1.0.3
msgpack==1.0.4
multidict==6.0.3
mypy==0.991
mypy-extensions==0.4.3
numpy==1.24.2
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
ordered-set==4.1.0
packaging==22.0
passl==0.0.4
passlib==1.7.4
pi==0.1.2
Pillow==9.4.0
pluggy==1.0.0
prettytable==3.6.0
proto-plus==1.22.1
protobuf==4.21.12
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.16.0
Pygments==2.14.0
PyJWT==2.4.0
pyOpenSSL==23.0.0
pyotp==2.8.0
pyparsing==3.0.9
Pyrebase4==4.5.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
ratelimit==2.2.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rich==12.0.0
rsa==4.9
schedule==1.1.0
shellescape==3.8.1
simplejson==3.18.0
six==1.16.0
texttable==1.6.7
tomli==2.0.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.13
uvicorn==0.19.0
visitor==0.1.3
vt==3.1.3.7
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
yarl==1.8.2
zipp==3.11.0
