<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link href="{{ url_for('static', filename='../static/style.css') }}" rel="stylesheet">
    <title>Login - CMS</title>
</head>

<body>
    <div id="app">
        <section class="login template-minimal template-minimal--width-normal">
            <div class="template-minimal__wrap">
                <div class="login__brand">
                    <h1>CMS</h1>
                </div>

                <form method="post" action="/admin/" class="form">
                    <div class="field-type email">
                        <label for="field-email" class="field-label">
                            Email Address
                            <span class="required">*</span>
                        </label>
                        <input id="field-email" type="email" name="email" autocomplete="email" value="">
                    </div>

                    <div class="field-type password">
                        <label for="field-password" class="field-label">
                            Password
                            <span class="required">*</span>
                        </label>
                        <input id="field-password" type="password" autocomplete="off" name="password" value="">
                    </div>
                    <a href="/admin/">Forgot password?</a>

                    <div class="form-submit">
                        <button type="submit" class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right">
                            <span class="btn__content"><span class="btn__label">Login</span></span>
                        </button>
                    </div>
                </form>

                <a href="/login">SSO</a>
            </div>
        </section>

        <!-- <div class="payload__modal-container">
            <dialog id="stay-logged-in"
                class="payload__modal-item payload__modal-item--slug-stay-logged-in stay-logged-in" aria-modal="true"
                aria-label="stay-logged-in" style="">
                <section class="stay-logged-in__template template-minimal template-minimal--width-normal">
                    <div class="template-minimal__wrap">
                        <h1>Stay logged in</h1>
                        <p>You haven't been active in a little while and will shortly be automatically logged out for
                            your own security. Would you like to stay logged in?</p>
                        <div class="stay-logged-in__actions"><button type="button"
                                class="btn btn--style-secondary btn--icon-style-without-border btn--size-medium btn--icon-position-right"><span
                                    class="btn__content"><span class="btn__label">Log out</span></span></button><button
                                type="button"
                                class="btn btn--style-primary btn--icon-style-without-border btn--size-medium btn--icon-position-right"><span
                                    class="btn__content"><span class="btn__label">Stay logged in</span></span></button>
                        </div>
                    </div>
                </section>
            </dialog>
        </div> -->
    </div>
</body>

</html>